apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-nksbzbky
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-nksbzbky:46a39bac54d02174ee348c696f9b460140fea4a6@sha256:34ea0c6fba7b738a20022940860c171319ff189f4a8d8b7ff15d8c701c885aa3
          name: container-image
